* {
    margin: 0%;
    padding: 0%;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    display: grid;
}

@media (min-width: 576px) {
    body {
    background: bisque;
    
    }
    }
    .container {
        display: grid;
        border: 1px solid black;
        grid-template-areas:
            "menu"
            "filter"
            "principal-section"
            "pie-de-pagina";
        }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 7%;
        grid-area: menu;
        height: 3vh;
        background: #164faadf;
        color: white;
        }
        .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: "filter";
        height: 12vh;
        background: #9f9f9fdf;
        color: black;
        }
        button {
            display: flex;
            justify-content: space-between;
            background-color: aliceblue;
            border-style: none;
            height: 2.5rem;
            width: 18rem;
            margin-bottom: 3%;
        }

    main {
        grid-area: principal-section;
        padding: 10px;
        height: 85vh;
        
        }

    footer {
        grid-area: pie-de-pagina;
        height: 10vh;
        background: #d02a1e;
        color: white;
        padding: 10px;
        }

        
        
    /*
@media ( min-width: 576px) {
    body {
    background: rgb(129, 103, 64);
    .grid { grid-template-columns: 1fr 1fr }
    }
    }

    @media (min-width: 992px) {
        body{
            background-color: aqua;
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-areas:
        menu "seccion-principal"
        menu "seccion-principal"
        "pie de pagina seccion-principal";
        }
        }
