* {
    margin: 0%;
    padding: 0%;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    display: grid;
    height: 100vh;
}

@media (min-width: 576px) {
    body {
    display: grid;
    background: bisque;
    grid-template-columns: 1fr;
    grid-template-areas:
            "menu"
            "filter"
            "principal-section"
            "pie-de-pagina";
            grid-template-rows: 10% 10% 70% 10%;
    }
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 7%;
        grid-area: menu;
        background: #e9890bdf;
        color: white;
        }
        
        .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: "filter";
        padding-top: 0.5rem;
        background: #ff2c2caf;
        color: black;
        }

        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: aliceblue;
            padding: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            border-style: none;
            height: 2.5rem;
            width: 18rem;
        }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-area: principal-section;
        }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: #8989897e solid 1px;
        width: 13rem;
        gap: 0.5%;
        padding-top: 3%;
        padding-left: 18%;
        
    }
    main img {
        width: 95%;
    }
    .boton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #e9890bdf;
        color: white;
        width: 33%;
        border-radius: 8%;
    }
    .adedd {
        display: none;
    }

    .pagination {
            display: inline-block;
            margin-top: 4%;
            margin-left: 15%;
            margin-bottom: 5%;
        }
        
    .pagination a {
        color: rgb(0, 123, 255);
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        }
                    
    .pagination a:hover:not(.active) {background-color: #ddd;}
        
    .pagination a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        }
        
    .pagination a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        }

    footer {
        grid-area: pie-de-pagina;
        background: #d02a1e;
        color: white;
        padding: 10px;
        }
        
    @media (min-width: 576px) {
        body{
            display: grid;
            background-color: aqua;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        menu "filter" "filter" "filter"
        menu  "principal-section" "principal-section" "principal-section"
        "pie de pagina" "principal-section" "principal-section""principal-section" ;
        }
        }
